@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import "../root";

.medicationDetailsHeader {
  position: sticky;
  background-color: var(--brand-02);
  // FIX
  // color: $inverse-01;
  border: 0;
  top: 0rem;
  padding: 1rem;
  z-index: 1;
}

.orderForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  @include type.type-style("heading-03");
  
  margin: 0.5rem 1rem;
}

.pullColumnContentRight > div {
  float: right;
}

.fullWidthDatePickerContainer {
  :global .cds--date-picker {
    width: 100%;

    :global .cds--date-picker-container {
      width: 100%;

      :global .cds--date-picker-input__wrapper {
        width: 100%;

        :global .cds--date-picker__input {
          width: 100%;
        }
      }
    }
  }
}

.fullHeightTextAreaContainer {
  :global .cds--form-item {
    height: 100%;

    :global .cds--text-area__wrapper {
      height: 100%;
    }
  }
}

.dosageInfo {
  @include type.type-style("heading-compact-01");
}

.backButton {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0rem;

  button {
    display: flex;
   
    svg {
      order: 1;
      margin-right: 0.5rem;
      margin-left: 0rem !important;
    }  

    span {
      order: 2;
    }
  }
}

.orderForm :global(.cds--btn-set .cds--btn) {
  max-width: 50%;
  height: 4rem;
}

.tablet {
  padding: 1.5rem 1rem;
  background-color: $ui-02;
}

.desktop {
  padding: 0rem;
}

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .orderForm {
    height: calc(100vh - 9rem);
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .orderForm {
    height: calc(100vh - 6rem);
  }
}

.grid {
  margin: 0rem;
  padding: 0rem;
}

.row {
  margin: 0.5rem 0rem 0rem;
}

.spacer {
  margin-top: 3rem;
}