@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "../root";

.container {
  margin: 1rem 1rem 0.5rem;
}

.desktopSearchResultTile {
  margin-top: 5px;
  border-left: 4px solid var(--brand-03);

  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}

.tabletSearchResultTile {
  margin-top: 5px;
  border-left: 2px solid var(--brand-03);

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.divider {
  border: 0;
  border-top: 1px solid $color-gray-30;
  width: 66%;
}

.desktopDivider {
  margin: 3rem auto;
}

.tabletDivider {
  margin: 2.5rem auto;
}

.searchResultsCount {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.orderBasketSearchResultsHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.875rem;
}

.searchResultTile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchResultTileContent {
  flex: 1 1 auto;
}

.addToBasketButton {
  color: #000;
  flex: 0 0 auto;
}