@use '@carbon/styles/scss/spacing';
@import "../root.scss";

.overview {
  background-color: $ui-02;
}

.attachmentsHeader {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr auto;
  grid-gap: spacing.$spacing-05;
  align-items: center;
  padding: spacing.$spacing-04 0 spacing.$spacing-04 spacing.$spacing-05;
  background-color: $ui-background;
}

.attachmentsHeader > h4:after {
  content: "";
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.btnOverrides {
  bottom: 0.7rem;
}
