@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.productiveHeading03 {
  @include type.type-style("heading-03");
}

.productiveHeading02 {
  @include type.type-style("productive-heading-02");
}

.bodyLong01 {
  @include type.type-style("body-long-01");
}

.muted {
  color: $text-02;
}

.paddedProductiveHeading03 {
  @include type.type-style("productive-heading-03");
  padding: spacing.$spacing-05
}


.bodyShort01 {
  @include type.type-style("body-compact-01");
}

.text02 {
  color: $text-02;
}
