@use '@carbon/styles/scss/spacing';
@import "../root.scss";

.cameraSection {
  width: inherit;
  background-color: $ui-02;
}

.uploadingFilesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: spacing.$spacing-05;
  height: 25rem;
  overflow-y: auto;
  border: 1px dashed $ui-04;
}

.buttonSet {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  button{
    max-width: unset !important;
  }
}
